body{
    font-style: poppins;
    font-weight: bold;

}

.headline-container{
    height: 1286px;
    color: white;
    
}
.h1{
    font-style: poppins;
    font-weight: bold;
    font-size: 75px;
}
.to{
    color:#FFA034;
}

.row-headline{
    height: 856px;
    padding-right: 50px;
}
#navbarSupportedContent{
    align-items:flex-end;
}
.headline-col{
    padding-right: 100px;
    padding-top: 125px;
}
.headline-text{
    padding-top: 100px;
    padding-right: 50px;

}
.headline-img{
    height: 450px;
    width: 450px;
}

.navbar{
    padding-left: 50px;

    color:white;
    height: 111px;
    /* //font-size: 30px; */
}
.btn-login,.btn-courses{
    margin-right: 10px;
    background-color: #FFA034;
}
.btn-courses{
    margin-top: 100px;
    font-weight: bold;
}
.container-reasons{
    margin-top: 100px;
}
h2{
    font-weight:bold;
    font-size: 64px;
    text-align: center;
}
.card-reasons{
    border-style: inset;
    border-color: #1C4547;
    /* border-width: 3px; */
    border-radius: 20px;
}
.card-reasons-body{
    padding-top: 50px;
    padding-left: 50px;
}
.icons-R{
    width:70px;
    height: 70px;
    border-radius: 20px;
    margin-bottom: 30px;
    background-color: #1C4547;
}
.icon-img{
    display: block;
  margin-left: auto;
  padding-top: 10px;
  margin-right: auto;
  width: 70%;
}
.card-reasons-subtitle{
    margin-top: 30px;
    margin-bottom: 30px;

}
.card-reasons-link{
    margin-top: 30px;
    text-decoration: none;
    color: black;
}

.row-visuals{
    margin-top: 200px;
    height: 700px;
}
.col-visuals{
    padding-right:100px;
    /* height: 200px;
    width: 200px; */
}
.col-text
{
}
h3{
    font-style: poppins;
    font-weight: bold;
    line-height: 45px;
    font-size: 40px;
    margin-bottom: 50px;
}
.btn-join{
    background-color: #1C4547;
    color:white;
    margin-top: 140px;
    height: 50px;
    width: 180px;
}
.btn-msg{
    background-color: #1C4547;
    color:white;
   
    width: 250px;
}
.container-courses{
    height: 1000px;
    font-style: poppins;
}
.card-course{
    text-align: center;
}
.card-course-text{
    font-weight: lighter;
}
.btn-learn{
    background-color: #1C4547;
    color:white;
    margin-top: 30px;
    height: 50px;
    width: 120px;
    border-radius: 7px;
}
.card-course-col{
    padding-top: 100px;
    padding-bottom: 100px;
}
.container-services{
    /* padding-bottom: 100px; */
}
.icon-img-services{

    padding-left: 150px;
    width: 30px; display: inline;
}

.footer{
    
  align-items: center;
  justify-content: center;
  background-color: lightgray;
 
  border-radius: 3px;
}
.footer h1{
    text-align: center;
}

.col-footer-1{
    margin:70px;
    font-weight:lighter ;
}
.icon{
    height: 100px;
    width: 100px;
    border-radius: 100%;
    background-color:white ;
}

/* @import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:200');

.footer  {
    background-image: url('https://static.pexels.com/photos/414171/pexels-photo-414171.jpeg');
  background-size:cover;
        -webkit-animation: slidein 100s;
        animation: slidein 100s;

        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;

        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;

        -webkit-animation-direction: alternate;
        animation-direction: alternate;              
}

@-webkit-keyframes slidein {
from {background-position: top; background-size:3000px; }
to {background-position: -100px 0px;background-size:2750px;}
}

@keyframes slidein {
from {background-position: top;background-size:3000px; }
to {background-position: -100px 0px;background-size:2750px;}

}



.footer
{
  display: flex;
  align-items: center;
  justify-content: center;
  /* position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; 
 
  border-radius: 3px;
}
.footer h1{
  text-align:center;
  color:white;
  font-family: 'Source Code Pro', monospace;
  text-transform:uppercase;
}*/