<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <link href="/style/landingPage.css" rel="stylesheet">
  <title>Code Sekho</title>
</head>

<body>
  <div class="container-fluid headline-container">
    <nav class="navbar navbar-expand-lg navbar-dark shadow-5-strong">
      <div class="container-fluid">
        <a class="navbar-brand nav-head" style="font-family: 'Comfortaa' !important;" href="#">Code <span
            class="yellowFont">Sekho</span></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="./MainPage.html">Home</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Courses
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Contact Us</a>
            </li>
          </ul>
          <button class="btn btn-login" type="submit">Login</button>
          <button class="btn btn-outline-light" type="submit">SignUp</button>
        </div>
      </div>
    </nav>


    <div class="container">
      <div class="row row-headline">
        <div class="col headline-col">
          <p class="h1 h1-head">Welcome <span class="yellowFont">To</span></p>
          <p class="h1 h1-head">Code Sekho</p>
          <p class="headline-text">Lorem ipsum dolor sit amet, consectletur adipiscing elit,
            sed do eiusmod tempor incididunt ut labore et dolore
            magna </p>
          <hr class="line1">
          <button class="btn btn-courses" type="submit"> <span class="text-btn-course">Explore Courses</span>
            <img src="/images/Arrow right alt.png" class="arrow-right" alt="Arrow right">
          </button>
        </div>

        <div class="col"></div>

      </div>
    </div>
  </div>


  <!-- Container 2 starting -->

  <div class="container container-reasons">

    <h2 class="h2-reasons">
      3 Reasons To Choose Us
    </h2>

    <div class="container container-reasonCards">
      <div class="row">

        <div class="col">
          <div class="card card-reasons">
            <div class="card-body card-reasons-body">
              <img class="icons-R" src="/images/support agent.png">
              <h5 class="card-title">24/7 Support</h5>
              <h6 class="card-subtitle card-reasons-subtitle mb-2 text-muted">Card subtitleLorem ipsum dolor sit amet,
                consectetur adipiscing
                sed do eiusmod </h6>
              <a href="#" class="card-link card-reasons-link">Read More <img src="./images/Arrow right alt.png" alt="Arrow right"
                  style="width: 20px;"></a>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card card-reasons">
            <div class="card-body card-reasons-body">
              <img class="icons-R" src="/images/tourist guide.png">
              <h5 class="card-title">Top Guide</h5>
              <h6 class="card-subtitle card-reasons-subtitle mb-2 text-muted">Card subtitleLorem ipsum dolor sit amet,
                consectetur adipiscing
                sed do eiusmod </h6>
              <a href="#" class="card-link card-reasons-link">Read More <img src="Arrow right alt.png" alt="Arrow right"
                  style="width: 20px;"></a>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card card-reasons">
            <div class="card-body card-reasons-body">
              <!-- <div class="icons-R" > -->
              <img class="icons-R" src="/images/library books.png">
              <h5 class="card-title">Best Courses</h5>
              <h6 class="card-subtitle card-reasons-subtitle mb-2 text-muted">Card subtitleLorem ipsum dolor sit amet,
                consectetur adipiscing
                sed do eiusmod </h6>
              <a href="#" class="card-link card-reasons-link">Read More <img src="./images/Arrow right alt.png" alt="Arrow right"
                  style="width: 20px;"></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr class="line2">


  <!-- Container 2 ending -->

  <div class="container container-visuals">

    <div class="row row-visuals">
      <div class="col col-visuals">
        <img src="/images/image1.png" alt="image">
      </div>
      <div class="col col-text-visuals">
        <div class="col-text">
          <h3 class="h3-visuals">Take the next step toward
            your personal and
            professional goals with
            codesekho.</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing sed do eiusm
            ipsum dolor sit amet
          </p>
        </div>
        <button class="btn btn-join" type="submit">Join Now </button>
      </div>
      <hr class="line2">
    </div>
  </div>

  <div class="container container-courses">
    <h2 class="h2-courses">Our Courses</h2>
    <p class="p-courses">Lorem, ipsum dolor sit amet consectetur adipisicing elit. In id reiciendis voluptates ab</p>

    <div class="container ">

      <div class="row row-courses">
        <div class="col">

          <div class="card card-course">
            <img class="card-img-top" src="/images/course1.png" alt="Card image course1">
            <div class="card-body card-course-body">
              <h5 class="card-title  card-course-title">Interview Preparations</h5>
              <p class="card-text  card-course-text">Lorem ipsum dolor sit amet, consectetur adipiscing
                sed do eiusmod Lorem ipsum dolor sit amet, consec
                tetur adipiscing

              </p>
              <button class="btn btn-learn" type="submit">Learn</button>

            </div>
          </div>
        </div>

        <div class="col card-course-col">

          <div class="card card-course ">
            <img class="card-img-top" src="/images/course2.png" alt="Card image course2">
            <div class="card-body card-course-body">
              <h5 class="card-title card-course-title">Crash Course</h5>
              <p class="card-text  card-course-text">Lorem ipsum dolor sit amet, consectetur adipiscing
                sed do eiusmod Lorem ipsum dolor sit amet, consec
                tetur adipiscing
              </p>
              <button class="btn btn-learn" type="submit">Learn</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr class="line3">



    <div class="container container-services">
      <h2 class="h2-services">Our Best Services For You</h2>
      <p class="p-services">Lorem, ipsum dolor sit amet consectetur adipisicing elit. In id reiciendis voluptates ab</p>

      <div class="container">

        <div class="row row-services">
          <div class="col">

            <div class="card card-services1">


              <div class="card-body card-services-body">

                <h5 class="card-title  card-course-title">Revision <img class="icon-img-services" src="./images/services.png">
                </h5>
                <p class="card-text  card-course-text">Lorem ipsum dolor sit amet, consectetur adipiscing
                  sed do eiusmod Lorem ipsum dolor sit amet, consec
                  tetur adipiscing

                </p>

              </div>
              <!-- <img class="icon-img-services" src="Vector 2.png">  -->
            </div>
          </div>

          <div class="col">

            <div class="card card-services2">

              <div class="card-body card-services-body">
                <h5 class="card-title  card-course-title">Crash Course</h5>
                <p class="card-text  card-course-text">Lorem ipsum dolor sit amet, consectetur adipiscing
                  sed do eiusmod Lorem ipsum dolor sit amet, consec
                  tetur adipiscing

                </p>

              </div>
            </div>
          </div>

          <div class="col">

            <div class="card card-services3">
              <div class="card-body card-services-body">
                <h5 class="card-title  card-course-title">Companies</h5>
                <p class="card-text  card-course-text">Lorem ipsum dolor sit amet, consectetur adipiscing
                  sed do eiusmod Lorem ipsum dolor sit amet, consec
                  tetur adipiscing
                </p>
              </div>
            </div>
          </div>
        </div>

      </div>




      <div class="container contact-Us">
        <h1 class="h1-contactUs">Contact Us</h1>

        <div class="container">
          <div class="row row-contactUs">
            <div class="col col-contactUs-1">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing sed
                do eiusm g sed do eiusm do eiusm g sed do eiusm do eiu
                sm g sed do eiusm do eiusm g sed do eiusm do eiusm gs
                ed do eiusm
              </p>


              <div class="row row-address">
                <div class="col">
                  <img style="height: 100px;" src="/images/loaction.png" alt="location">
                </div>
                <div class="col" style="padding-top: 10px; height: 10px;">
                  <h6>Address</h6>
                  <p> Lahore, Pakistan</p>
                </div>
              </div>

              <div class="row row-address">
                <div class="col">
                  <img style="height: 100px;" src="/images/phone.png" alt="location">
                </div>
                <div class="col" style="padding-top: 10px; height: 10px;">
                  <h6>Phone</h6>
                  <p> +92 314 7372660</p>
                </div>
              </div>

              <div class="row row-email">
                <div class="col">
                  <img style="height: 100px;" src="/images/email.png" alt="location">
                </div>
                <div class="col" style="padding-top: 10px; height: 10px;">
                  <h6>Email</h6>
                  <p>zainraj529@gmail.com</p>
                </div>
              </div>


            </div>

            <div class="col col-contactUs-2">
              <form>
                <div class="mb-3">
                  <input type="name" class="form-control form-control1" id="exampleInputName"
                    aria-describedby="nameHelp" value="Name">
                </div>
                <div class="mb-3">
                  <input type="email" class="form-control form-control1" id="exampleInputEmail1"
                    aria-describedby="emailHelp" value="E-mail">
                </div>
                <div class="mb-3">
                  <input type="text" class="form-control form-control2" id="exampleInputMessage"
                    aria-describedby="msgHelp" value="Enter your message here">
                </div>

                <button class="btn btn-msg" type="submit">Send Message</button>

              </form>
            </div>
          </div>
        </div>
      </div>



      <!-- <div class="container-fluid footer">
        <h1 class="h1-footer">Contact Us</h1>

        <div class="container">
          <div class="row row-footer">
            <div class="col col-footer-1">
              <p>dd
              </p>


              <div class="row row-address">
                <div class="col">
                  <img style="height: 100px;" src="loaction.png" alt="location">
                </div>
                <div class="col" style="padding-top: 10px; height: 10px;">
                  <h6>Address</h6>
                  <p> Lahore, Pakistan</p>
                </div>
              </div>

              <div class="row row-address">
                <div class="col">
                  <img style="height: 100px;" src="phone.png" alt="location">
                </div>
                <div class="col" style="padding-top: 10px; height: 10px;">
                  <h6>Phone</h6>
                  <p> +92 314 7372660</p>
                </div>
              </div>

              <div class="row row-address">
                <div class="col">
                  <img style="height: 100px;" src="email.png" alt="location">
                </div>
                <div class="col" style="padding-top: 10px; height: 10px;">
                  <h6>Email</h6>
                  <p>zainraj529@gmail.com</p>
                </div>
              </div>


            </div>

            <div class="col col-footer-2">
              <form>
                <div class="mb-3">
                  <input type="name" class="form-control form-control1" id="exampleInputName"
                    aria-describedby="nameHelp" value="Name">
                </div>
                <div class="mb-3">
                  <input type="email" class="form-control form-control1" id="exampleInputEmail1"
                    aria-describedby="emailHelp" value="E-mail">
                </div>
                <div class="mb-3">
                  <input type="text" class="form-control form-control2" id="exampleInputMessage"
                    aria-describedby="msgHelp" value="Enter your message here">
                </div>

                <button class="btn btn-msg" type="submit">Send Message</button>

              </form>
            </div>
          </div>
        </div> -->
   
      </div>




      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>

      <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
        integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
        crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
        integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
        crossorigin="anonymous"></script>
</body>

</html>